<div class="splash-container">
<%= video_tag "code_video.mp4", controls: false, autoplay: true, loop: true, muted: true, id: "bgvid"%>
    <div class="splash">
        <h1 class="splash-head">Mario Rosenthal</h1>
        <p class="splash-subhead">
            Software Developer
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Contact Me</a>
        </p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center"data-aos="fade-left">Projects</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="fade-up">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    REPLvania
                </h3>
                    <%= image_tag("replvania.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="zoom-in">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket" ></i>
                    The Todoist
                </h3>
                    <%= image_tag("thetodoist.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="fade-left">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    The Best Photo App
                </h3>

                    <%= image_tag("bestphotoapp.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="slide-up">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Spaced-Out
                </h3>

                    <%= image_tag("spacedout.png", class: "pure-img", height: "105em", width: "105em") %>

            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="flip-right">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Yield Maximizer
                </h3>
                    <%= image_tag("yieldmaximizer.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="flip-down">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Ajaxed Todo List
                </h3>
                    <%= image_tag("ajaxedtodo.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
        </div>
    </div>


<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center" data-aos="fade-right">Skills</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6"data-aos="zoom-in">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Ruby
                </h3>
                    <%= image_tag("ruby.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="slide-up">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    CSS
                </h3>
                    <%= image_tag("CSS3.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="flip-down">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    HTML5
                </h3>

                    <%= image_tag("HTML5.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6"data-aos="fade-left">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Javascript
                </h3>

                    <%= image_tag("Javascript.png", class: "pure-img", height: "105em", width: "105em") %>

            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6" data-aos="flip-left">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Ruby on Rails
                </h3>
                    <%= image_tag("Rubyonrails.png", class: "pure-img", height: "105em", width: "105em") %>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="/img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                    <fieldset>

                        <label for="name">Your Name</label>
                        <input id="name" type="text" placeholder="Your Name">


                        <label for="email">Your Email</label>
                        <input id="email" type="email" placeholder="Your Email">

                        <label for="password">Your Password</label>
                        <input id="password" type="password" placeholder="Your Password">

                        <button type="submit" class="pure-button">Sign Up</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contact Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                </p>

                <h4>More Information</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div>

</div>
